@import "tailwindcss";

@theme {
    /*--color-primary-warm: #FF7043; // #D23F15*/
    /*--color-primary-cool: #00ACC1; // #6C5CCC*/
    /*--color-white: #FFFFFF; // #FFFFFF*/
    /*--color-light: #ECEFF1; // #E5E5E5*/
    /*--color-light-gary: #CFD8DC; // #D9D9D9*/
    /*--color-dark-primary: #37474F; // #09244B*/
    /*--color-dark-secondary: #607D8B; // #D9D9D9*/
    /*--color-dark-muted: #90A4AE; // #D9D9D9*/

    --color-primary-warm: #D23F15;
    --color-primary-cool: #27AAE1;
    --color-white: #FFFFFF;
    --color-light: #E5E5E5;
    --color-light-gary: #D9D9D9;
    --color-dark-primary: #09244B;
    --color-dark-secondary: #D9D9D9;
    --color-dark-muted: #516071;

    --color-danger: #D32F2F;
    --color-danger-light: #FFEBEE;

    --font-sans: "Montserrat", "sans-serif";

    --animate-shake: shake 150ms;
    --animate-move-stripes: move-stripes 5s linear infinite;
}